<!-- Add this <dict> to the top-level <array> of Tower's CompareTools.plist. -->
<dict>
	<key>ApplicationIdentifier</key>
	<string>com.microsoft.VSCode</string>
	<key>ApplicationName</key>
	<string>Visual Studio Code</string>
	<key>DisplayName</key>
	<string>Delta Flow</string>
	<key>Identifier</key>
	<string>delta-flow</string>
	<key>LaunchScript</key>
	<string>delta-flow.sh</string>
	<key>SupportsDiffChangeset</key>
	<true/>
	<key>SupportsMergeTool</key>
	<false/>
</dict>
